*{
  margin: 0px;
  padding: 0px;
}

.App{
  max-width: 1550px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 5px 6px #08a05ca4;
  padding: 0 15px;
  box-sizing: border-box;
}

/* navBar */

.navbar{
  display: flex;
  background-color: black;
  justify-content: space-between;
}

.img-logo{
  justify-self: start;
  margin-left: 15px;
  margin-top: 2vh;
  padding-left: 20px;
  padding-bottom: 2vh;
  max-height: 90px;
  max-width: 90px;
}

.lista-container{
  display: flex;   
}

.lista-item {
  margin: 0.8rem;
  background-color: black;
  border-radius: 30%;
  padding: 0.2rem;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0.5s;
  transition-timing-function: ease-in;
}

.lista-item:hover{
  padding: 8px;
  justify-content: center;
  transition-property: all;
  transition-duration: 0.1s;
  transition-delay: 0.05s;
  transition-timing-function: ease-in;
  background-color: lightgrey;
}

.lista-item_link {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.lista-item_link:hover{
  color: black;
  }

.imagen_carrito{
  cursor: pointer;
  padding: 20px;
  font-size: 2em;
}

.item-Total{
  color: white;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: red;
  }

  /*Contacto*/

  .div-form{
    text-align: center;
    justify-content: center;
    background-color: black;
  }

  .titulo-form{
    color: gray;
    font-size: 45px;
  }

  .form-mail{
    color: gray;
    font-size: 30px;
  }

  

  /*boton wsp*/

  .btn-wsp box-icon{
    position: fixed;
    width: 75px;
    height: 75px;
    line-height: 75px;
    bottom: 30px;
    right: 40px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    background-color: black;
    
  }

 

/* Banner */

.Banner{
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image: url("./../../mv/src/Imagenes/fotos/ImagenBanner.jpg");
}

.Banner-container{
  text-align: center;
  padding: 15% 0;
}

.Banner h1{
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px black;
  font-size: 7.5rem;
  font-weight: bold;
  text-shadow: 1px 2px 50px black;
  opacity: 0.5;
}

.Banner p{
  font-size: 3.5rem;
  color: white;
  opacity: 0.5;
  text-shadow: 21px 50px 50px black;
}

/* Inicio */

.inicio{
  width: 100%;
  margin: 0 auto;
  padding-top: 9rem;
}

.inicio h1{
  font-size: 2rem;
  color: black;
}

.img{
  height: 10rem;
  width: 25rem;
}

/* Productos */

.title{
  font-size: 2rem;
  padding: 5rem 0 0 0 ;
  color: black;
}

.productos{
  padding: 5rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 3rem 1rem;
  box-sizing: border-box;

}

.producto{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px black;
  border: 6px solid transparent;
  border-radius: 5px;
  text-align: center;
}


.producto:hover{
  border: 6px solid gray;
}

.producto_img img{
  width: 210px;
  }

.producto_footer{
  padding: 1rem;
}

.producto_footer h1{
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
}

.producto_footer p{
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
}

.producto_footer .precio{
  font-size: 2rem;
  color: blue;
}

.producto .button{
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 3rem;
}

.button.btn{
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
}

.button button{
  background-color: #3033d3;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

.button div {
  background-color: #08a05c;
  display: grid;
  align-items: center;
  text-align: center;
  margin-left: -2rem;
  border-radius: 5px;
  }

  .button div a{
    color: white;
    font-weight: 700;
  }

/* Carrito */

.carritos{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: black;
  z-index: 2;
  padding-bottom: 5rem;
  visibility: hidden;
  }

 .carrito{
  position: fixed;
  top: 50%;
  left: 50% ;
  transform: translate(-50%, -50%);
  scale: (.5);
  width: 60%;
  height: 80%;
  border-radius: 8px;
  overflow-x: scroll;
  transition: all 300ms ease-in-out;
  background-color: white;
  opacity: 0;
  visibility: hidden;
 } 

 .carrito h2{
  text-align: center;
  font-size: 2rem;
 }

 
 .carrito.show{
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 1;
  visibility: visible;
 }

 .carrito_close box-icon{
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: all 300ms ease-in-out;
  margin:3rem 0 0 2rem;   
 }

 .carrito_close box-icon:hover{
  fill: red;
 }

 .carrito_center{
  width: 90%;
  margin: 0 auto;
 }

 .carrito_item{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0 1px 10px gray;
  border-radius: 5px;
 }

 .carrito_item img{
  width: 9rem;
 }

 .carrito_item h3{
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: Helvetica, sans-serif;
 }

 .carrito_item .precio{
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-align: start;
  margin-left: 0.2rem;
 }

 .carrito_item box-icon{
  fill: #08a05c;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-top: .3rem;
 }

.carrito_item .cantidad{
  font-size: 2rem;
  font-weight: bold;
}

.carrito_item .remove_item box-icon{
  width: 60px;
  height: 80px;
  fill: red;
  margin-top: 2rem;
}

.carrito_footer{
  text-align: center;
  margin-bottom: 3rem;
}

.carrito_footer h3{
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.carrito_footer .btn{
  display: inline-block;
  padding: .3rem 1rem;
  font-size: 1.2rem;
  background-color: #08a05c;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.carrito_footer .btn:hover{
  background-color: #08a05c;
  color: white;
  }

/*Producto Vista*/

.detalles{
  text-align: center;
  justify-content: center;
  padding-bottom: 6rem;
}

.detalles img{
  width: 20rem;
  height: 30rem;
  padding-top: 5rem;
}

.detalles h2{
  font-size: 35px;
  font-style: oblique;
}

.detalles p{
  font-size: 25px;
}

.detalles h3{
  font-size: 45px;
  color: #3033d3; 
}

.detalles button{
  background-color: #3033d3;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

 

/*Media*/

@media only screen and (max-width:1000px){
.carrito_item{
  width: 92%;
}
}

@media only screen and (max-width:700px){
.carrito{
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.carrito_item h3{
  font-size: 1.2rem;
}
}

@media only screen and (max-width:600px){
header ul{
  display: none;
}
}

@media only screen and (max-width:450px){
.carrito_item h3{
 display: .5rem;
}
.carrito_item .remove_item box-icon{
  width: 30px;
  height: 60px;
}
}

/* Footer */

.footer{
  background-color: black;
  align-items: center;
  justify-content: center;
}

.img-logo-footer{
 display: inline;
  align-items: center;
  justify-content: center;
  padding:0 5rem 0 5rem;
  max-width: 10rem;
  max-height: 10rem;

}

.img-contacto{
  align-items: center;
  justify-content: center;
  padding:0 5rem 0 15rem;
  max-width: 15rem;
  max-height: 15rem;

}
.img-pago{
  align-items: center;
  justify-content: center;
  padding:0 5rem 0 5rem;
  max-width: 15rem;
  max-height: 15rem;
}

